In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine, inspect

In [2]:
from secret import DESTINATION_DB_URL

In [7]:
# Check the tables that are available in destination_db
engine = create_engine(DESTINATION_DB_URL)
inspector = inspect(engine)
inspector.get_table_names()

['customers',
 'orders',
 'orderlines',
 'products',
 'stabcensus',
 'calendar',
 'campaigns']

In [6]:
query = """
select * from orders
"""
df = pd.read_sql(query, engine)
display(df.sample(5))

,orderid,numorderlines,numunits,paymenttype,totalprice,state,city,orderdate,campaignid
63762,1057334,1,2,MC,$23.30,NY,WHITE PLAINS,2012-05-24,2141
166825,1417215,1,1,MC,$15.00,LA,GRETNA,2015-10-27,2114
171419,1438139,3,2,VI,$27.00,AZ,TUCSON,2015-12-01,2141
172148,1441147,2,2,MC,$17.05,NV,LAS VEGAS,2015-12-03,2141
70495,1068755,1,1,DB,$0.00,CO,WESTMINISTER,2011-10-02,2141