In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [3]:
from secret import DESTINATION_DB_URL

In [5]:
engine = create_engine(DESTINATION_DB_URL)

In [7]:
query = """
select * from stabcensus
"""
df = pd.read_sql(query, engine)
display(df)

   stab  total_landsqmi  total_population
0    SC        30060.70           4630351
1    AZ        94037.11           6412876
2    LA        40104.53           4529186
3    MN        78052.00           5312991
4    NJ         7089.10           8793873
5    DC           61.04            605759
6    OR        63346.78           3836423
7    VA        39276.33           8014875
8    RI         1033.84           1052471
9    KY        39038.87           4346198
10   WY        76500.35            562779
11   NH         9090.42           1317542
12   MI        55964.00           9897227
13   NV        54765.19           2704294
14   WI        53641.69           5687234
15   ID        62364.83           1567056
16   CA       105011.35          37315886
17   NE        77099.61           1827554
18   CT         4841.58           3572213
19   MT       141132.26            991299
20   NC        47228.42           9544057
21   VT         9213.51            625498
22   MD         9598.49           5785485
23   DE         1947.08            900131
24   MO        68726.64           5982563
25   IL        55307.28          12823846
26   ME        24723.70           1328989
27   ND        67927.82            675516
28   WA        59471.23           6738833
29   MS        46359.79           2967525
30   AL        50202.01           4777233
31   IN        35638.69           6485116
32   OH        40831.75          11533561
33   TN        40867.93           6347152
34   IA        55947.86           3048267
35   NM       104420.96           2052940
36   PA        44719.78          12699589
37   SD        76140.41            815642
38   NY        46729.46          19382371
39   TX       230976.86          25206749
40   WV        24000.37           1850345
41   GA        55001.63           9714081
42   MA         7751.98           6560591
43   KS        81315.58           2851290
44   FL        45497.92          18884900
45   CO       103204.89           5042900
46   AK       235843.06            710522
47   AR        50911.55           2916427
48   OK        68048.04           3748692
49   UT        39163.15           2765430
50   HI         5622.83           1362730